{% extends "layout.html" %}

{% block content %}
            <h2> The library </h2>
            <table class="table">
            <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Last</th>
            <th scope="col">Access</th>
            <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
                {% for i in range(leng)%}
          <tr>
              <td>#{{_id[i]}}</td>
            <td>{{names[i]}}</td>
            <td>{{lasts[i]}}</td>
            <td>{{access[i]}}</td>
            <td>
                <a href="/delete/{{_id[i]}}" class="btn btn-danger btn-delete">delete</a>
            </td>
          </tr>
          {% endfor %}
            </tbody>
            </table>
{% endblock%}
